.ServiceList {
  /* 文字白色 */
  color: #fff;
  .search {
    display: flex;
    align-items: center;
    gap: 20px;
    margin: 20px 0;

    .searchBar {
      flex: 1;
      background-color: rgba(17, 25, 40, 0.5);
      display: flex;
      align-items: center;
      gap: 20px;
      border-radius: 10px;
      padding: 10px;

      input {
        background-color: transparent;
        border: none;
        outline: none;
        color: white;
        flex: 1;
      }

      img {
        width: 20px;
        height: 20px;
        /* margin: 0 20px; */
      }
    }
  }
}
