.ChatApp {
  display: flex;
  flex-direction: column;
  text-align: left;
  flex: 2;
  border-left: 1px solid #dddddd35;
  border-right: 1px solid #dddddd35;
  height: 100%;
}

.ChatApp .top {
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #dddddd35;
}

.ChatApp .top .user {
  display: flex;
  align-items: center;
  gap: 18px;
}

.ChatApp .top .user img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
}

.ChatApp .top .user .texts {
  color: aliceblue;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.ChatApp .top .user .texts span {
  font-size: 18px;
  font-weight: bold;
}

.ChatApp .top .user .texts p {
  font-size: 12px;
  font-weight: 300;
  color: #ffffff;
}

.ChatApp .top .icons {
  display: flex;
  gap: 20px;
  color: white;
}

.ChatApp .top .icons img {
  width: 20px;
  height: 20px;
}

.ChatApp .center {
  padding: 20px;
  flex: 1;
  overflow-y: auto;
}

.ChatApp .center::-webkit-scrollbar {
  width: 8px;
}

.ChatApp .center::-webkit-scrollbar-thumb {
  background-color: #ccc;
  border-radius: 4px;
  border: 2px solid transparent;
  background-clip: padding-box;
}

.ChatApp .center::-webkit-scrollbar-track {
  background: transparent;
}

.ChatApp .center::-webkit-scrollbar-thumb:hover {
  background-color: #eee;
}

.ChatApp .center::-webkit-scrollbar-thumb:not(:hover) {
  background-color: #333;
}

.ChatApp .center::-webkit-scrollbar-thumb:active {
  background-color: #333;
}

.ChatApp .center::-webkit-scrollbar-corner {
  background: transparent;
}

.ChatApp .center::-webkit-scrollbar-button {
  display: none;
}

.ChatApp .center {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.ChatApp .center .message {
  max-width: 70%;
  display: flex;
  gap: 20px;
}

.ChatApp .center .message.own {
  align-self: flex-end;
  flex-direction: row-reverse; /* 將圖片放在右邊 */
}

.ChatApp .center .message.own .texts p {
  background-color: #5183fe;
  color: white;
}

.ChatApp .center .message img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  object-fit: cover;
}

.ChatApp .center .message .text {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.ChatApp .center .message .text p {
  padding: 20px;
  background-color: #555;
  border-radius: 10px;
}

.ChatApp .bottom {
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid #dddddd35;
  gap: 20px;
}

.ChatApp .bottom .icons {
  display: flex;
  gap: 20px;
}

.ChatApp .bottom .icons img {
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.ChatApp .bottom .input {
  flex: 1;
  background-color: rgba(17, 25, 40, 0.5);
  border: none;
  outline: none;
  color: white;
  padding: 20px;
  border-radius: 10px;
  font-size: 16px;
}

.ChatApp .bottom .sendButton {
  background-color: #5183fe;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-left: auto;
}

.dialog-box {
  color: aliceblue;
  border-radius: 10px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: fit-content;
  background-color: #333; /* 整個對話框背景色 */
}

.dialog-box span {
  font-size: 18px;
  font-weight: bold;
}

.dialog-box p {
  font-size: 12px;
  font-weight: 300;
  color: #ffffff;
  background-color: inherit; /* 繼承對話框的背景色 */
}
