#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

/* 淡出效果的樣式 */
.fade-out {
  opacity: 1;
  transition: opacity 0.5s ease-in-out; /* 0.5秒的淡出動畫 */
}

.fade-out.hidden {
  opacity: 0;
}

.login-interface-container {
  opacity: 0;
  transform: translateY(20px); /* 初始位置在下方 */
  transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out; /* 將 0.3s 改為 0.5s 或更長 */
  margin-top: 20px; /* 與上方元素間距 */
}

.login-interface-container.fade-in {
  opacity: 1;
  transform: translateY(0); /* 浮現到正常位置 */
}
